<!DOCTYPE html>
<html>
  <head>
    <%- include('common/head') %>
  </head>
  <body>
    <div class="header section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-offset-1 col-md-5">
          </div>
          <div class="col-xs-12 col-md-5">
            <%- include('common/header', {user_id: req.cookies.user_id}) %>
          </div>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-offset-1 col-sm-7 col-md-offset-1 col-md-7 col-lg-offset-1 col-lg-7">
            <div class="section aside">
              <ul class="list-group">
                <li class="list-group-item">
                  <ol class="breadcrumb">
                    <li><a href="/">v2ex</a></li>
                    <li class="active"><a href="/collection/people">特别关注</a></li>
                  </ol>
                </li>
                <% for(var i=0; i< peopleCollections.length; i++){ %>
                  <li class="list-group-item">
                    <a href="/user/<%= peopleCollections[i].user_id %>">
                      <%= peopleCollections[i].username %>
                    </a>
                  </li>
                <% } %>
                <li class="list-group-item">
                  <nav aria-label="Page navigation">
                    <ul class="pagination main">
                      <li>
                        <a href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <% for(var i=0; i<5; i++) { %>
                        <li><a href="<%= '/user/' + user.user_id + '/page/' + (i+1)%>"><%= i+1 %></a></li>
                        <% } %>
                        <li>
                          <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </li>
                </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="section aside">
              <%- include('common/hotTopic') %>
            </div>
            <div class="section aside">
              <%- include('common/newNode') %>
            </div>
            <div class="section aside">
              <%- include('common/siteCondition') %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-offset-2 col-md-3">

          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.js"></script>
  </body>
</html>
